<center>
    <div class="show_bg_color">
<h1>Total Seats</h1>
<br>

<br>
 <% @seats.each do |seat| %>
     <strong>Seat Number: </strong> <%= seat.seat_no %> <br>
    ---------------------------------------------------<br>
  <% end %>
</div>
</center>


