<center>
<h1>Seats</h1>
<br>

<br>
 <% @seats.each do |seat| %>
     <strong>Seat Number: </strong> <%= seat.seat_no %> <br>
    ---------------------------------------------------<br>
  <% end %>

</center>


