<center>
    <div class="show_bg_color">
<h1>Total Seats</h1>
<br>

<br>
 <% @seats.each do |seat| %>
     <strong>Seat Number: </strong> <%= seat.seat_no %> <br>
    ---------------------------------------------------<br>
  <% end %>

  <%= link_to "Add New Seats", new_seat_path, :class => "btn btn-primary" %>
</div>
</center>


