<center>
<h1>Employees Details</h1>
<br>



<br>
 <% @employees.each do |employee| %>
    <Strong>Name: </Strong><%= employee.fname %> <%= employee.lname %><br>
    <strong>Office Id: </strong><%= employee.office_id %> <br>
    <%= link_to "Show", employee_path(employee), :class => "btn btn-secondary" %><br>
    --------------------------------------------------------------<br>

    <% end %>
  
</center>


