<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>
        ======= Welcome ======= <br>
    </h3>

    <p>
      Welcome to aur Site 
    </p>
    <p>
      Thank You for registration..
      You are successfully registered
    </p>
      
  </body>
</html>
