<center>
	<% if user_signed_in? %>
	<% case current_user.role %>
	<% when 'hr' %>
	<h3>Welcome, HR</h3>
	<% when 'employee' %>
	<h3>Welcome, Employee</h3>
	<% end %>
	<% end %><br>
	<br>
	<h3> Welcome to </h3>

	<%= image_tag("logo.png", :alt => "logo", :size => "600x150") %><br><br>
	<h4>Office Seating Arrangement System </h4><br>	<br><br><br>
	-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>
	<a href="#" style="color: black;">Taskcraft Technologies</a><br>
	<a href="#"> <i class="fa fa-facebook" style="font-size:30px;color:black;"></i></a> &emsp;
	<a href="#"> <i class="fa fa-instagram" style="font-size:30px;color:black;"></i></a>&emsp;
	<a href="#"> <i class="fa fa-linkedin" style="font-size:30px;color:black;"></i></a>&emsp;
	<a href="#"> <i class="fa fa-github" style="font-size:30px;color:black;"></i></a>&emsp;
	<a href="#"> <i class="fa fa-twitter"  style="font-size:30px;color:black;"></i></a>&emsp;

</center>

